$green: #da197d;
$black: #10221b;
$white: #fff;
$light-bg: #eee;
$border: .2rem solid $black;
$box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);

@mixin grid($val) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
  gap: 1.5rem;
}

.heading {
  text-align: center;
  margin-bottom: 2.5rem;
  font-size: 4rem;
  color: $black;
}

.category {

  .box-container {
    @include grid(29rem);

    .box {
      text-align: center;
      padding: 1rem;

      img {
        height: 20rem;
        width: 20rem;
        border-radius: 50%;
        margin-bottom: 1rem;
        object-fit: cover;
      }

      h3 {
        font-size: 2rem;
        color: $green;
      }

      p {
        font-size: 1.5rem;
        padding: 1rem 0;
        line-height: 2;
      }
    }
  }
}
